.h2{
    text-align: center;
}
.con2{
    display: flex;
    justify-content: center;
    
}
.icon1,.icon2, .icon3{
    margin: 50px 15px;
    padding: 40px;
    
}
.icon1,.icon2,.icon3,h4{
    text-align: center;
}
.under{
    color: lightslategray;
}
.icon3:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;;
   
}
.icon1:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.icon2:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.span{
   display: inline-block;
    position:relative ;
    left: 10px;
}